

/*FOOTER*/

$footer_img_height: 100px;
footer {
	background:$blue;
	color: white;
	padding: 0;
	margin:50px 0 0;
    position: relative;
    min-height: $footer_img_height;
    .container {
        position: relative;
    }

    p {
    	padding:50px 0 20px;
        color: transparentize(white,0.2);
    }

    img {
        padding:  0;
        height: $footer_img_height;
        right: 0;
        top:20px;


    }

    a {
    	color: white;
        &:link, &:visited, &:active {
            color: white;
                border-bottom: 1px dotted white;
        }
        &:hover {
            border-bottom: 1px solid white;

        }
    }

}


@media (min-width: 768px){

    footer {
        p {
            padding-bottom: 50px;
        }

        img {
            position: absolute;
        }
    }
}
