
/*TYPOGRAPHY*/

h1 {
    font-size: 3em;
    padding: 0px 0 30px;
    font-weight: normal;
    line-height: 130%;
    color: black;
}
h2 {
    font-size: 2.9em;
    padding: 0 0 20px;
    color: black;

}
h3 {
    font-size: 2.21em;
    padding:0 0 20px;
    color: black;
    line-height: 120%;
}

h4 {
    font-size: 1.69em;
    padding:0 0 10px;
    color: black;


}



@media (min-width: 768px){
    h1 {font-size: 4em;}
    h2 {font-size: 2.6em}
    h3 {font-size: 2.41em}
    h4 {font-size: 2.1em}

}




p {
    font-size: $font_size;
    letter-spacing: 0.3px;
    padding:0 0 30px;
    line-height: 160%;
    color: lighten($font_color, 15);
}
li {
    font-size: $font_size;
    padding:0 0 5px;
    line-height: 160%
}




li li, li p {font-size: inherit;}
ul ul , ul ol, ol ol {font-size: inherit}







a {
    text-decoration: none;
    border-bottom: 1px dotted $blue;
    transition: all 0.3s;

    &:link, &:visited, &:active {
        color: $blue
    }
    &:hover {
        border-bottom: 1px solid $blue;

    }
}




strong, b {font-weight: bold;}
em, i {font-style: italic}


.table_container {
    width: 100%;
    overflow: scroll;
}
table {
    width: 100%;
    min-width: 800px;
    margin:0 0 40px;
}



th, td {
    font-size: #{$font_size * 0.9};
    padding:10px;
    border:0;
    text-align: left;
    color: lighten($font_color, 15);
}

th {
    font-weight: bold;
    color: black;
    border-bottom: 1px solid #ddd;
    font-size: $font_size;
}

tr:nth-child(4n+1) {
    td {
        background-color: transparentize(#ddd, 0.8);
    }

}

td td, td th {
    font-size: 14px;
    padding: 5px;
    background-color: white !important
}





blockquote {
    padding:20px 0 20px 40px;
    border-left:4px solid #888;
    margin:40px 20px 40px 40px;
    font-size: 140%;
    font-style: italic;
    max-width: 700px;
}
blockquote p:last-child {padding-bottom: 0}




form {

}

label {
    font-size: $font_size;
    font-weight: bold;
    display:block;
    padding:0px 0 5px $border_radius;
    color: $font_color;
}



input, .form_button, button, textarea, select, .button {
    background: white;
    appearance:none;
    border:1px solid $medium_grey;
    padding: 20px 40px;
    color: black;
    font-size: #{$font_size };
    font-family: $font_stack;
    border-radius: $border_radius;
    display: inline-block;
    margin: 0 15px 15px 0;
    transition: all 0.3s;

}

textarea {
    min-height: 120px;
}


select {
    cursor: pointer;
}

input[type="radio"] {

}


::placeholder {
    color: $medium_grey;
}




button,   .button {
    background-color: $blue;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    border-color: transparent;
    &:hover {
        background-color: darken($blue, 15);
    }
    &:link, &:visited, &:active {
        color: white;
    }

    &.button_inactive {
        background-color: #ccc;
        cursor: default;
    }
}
// END OF FORM



sup {
    position: relative;
    font-size: 60%;
    top:-10px;
}




.pagination {
    margin:10px 0;
    padding: 0;
    font-size: $font_size;
    .page-numbers {
        display: inline-block;
        padding: 10px;
        border: 1px solid $light_grey;

        &.current {
            background: $light_grey;
            color: $medium_grey;
        }
    }

    a {
        display: inline-block;
        color: inherit;
    }

}
