$primary_color: #f32;
$background_color: #fff;
$font_color: #333;
$font_stack: 'Questrial', 'Rubik',  'Nunito', 'Now', 'Gotham', Helvetica, arial, sans-serif;
$border_radius: 20px;

$font_size: 1.8em;


$blue: #7ac3db;
$yellow: #eab52f;
$red: #cb1c59;
$green: #82bfa7;

$light_grey: #f1f1f1;
$medium_grey: #999;
$dark_grey: #474646;
