$primary_color: #f32;
$background_color: #fff;
$font_color: #333;
$font_stack: 'Questrial', 'Rubik',  'Nunito', 'Now', 'Gotham', Helvetica, arial, sans-serif;
$border_radius: 7px;

$font_size: 1.5em;


$blue: #7ac3db;
$yellow: #eab52f;
$red: #cb1c59;
$green: #82bfa7;
